<h4>Player Profile</h4>

<form class="form-horizontal" action='/set_player_profile' method='post'>
  <div class="control-group">
    <label class="control-label">Name</label>
    <div class="controls">
      <% if session[:player_name] %>
        <% name = session[:player_name]%>
      <% else %>
        <% name = 'Alex' %>
      <% end %>
      <input type="text" name="player_name" value='<%=name%>'>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">How many chips would you like to start with?</label>
    <div class="controls">
      <input type="text" name="player_chips" value="500">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">Start Playing!</button>
    </div>
  </div>
</form>
