<h4>Hi <%=session[:player_name]%>, You have <%=session[:player_chips]%> chips.</h4>
<h5>Place a bet to start a new round</h5>

<form action='/round' method='post'>
  Bet: <input type='text' name='player_bet' /> chips
  <br />
  <input type='submit' class='btn' />
</form>
